.filter_container {
    display: flex;
    margin: 20px 0;
    @media (max-width: 414px) {
        display: block;
    }
    h1 {
        font-size: 40px;
        margin: 0;
    }
    .filter_section {
        display: flex;
        margin: 0 0 0 auto;
        .bookmark_section {
            margin: 24px 20px 0px 0;
            color: #fff;
            background: #09357b;
            padding: 7px 10px;
            border-radius: 5px;
            cursor: pointer;
            @media (max-width: 320px) {
                font-size: 13px;
                width: 100%;
            }
            span {
                margin-left: 15px;
            }
        }
        select {
            border: none;
            border-bottom: solid 2px #bcbcbc;
            width: 150px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}